<h1>@Model["restaurant"].GetRestaurantName()</h1>
<h1>@Model["restaurant"].GetLocation()</h1>
<h1>@Model["restaurant"].GetDescription()</h1>
<h1>@Model["cuisine"].GetCuisineName()</h1>

<a href="/">Back to home page</a>
