<h2>Update @Model.GetRestaurantName()</h2>
<p>Enter your updates below:</p>

<form action="/restaurant/new" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="restaurant_name">Restaurant Name: </label>
  <input type="text" name="restaurant_name" id="restaurant_name">
  <label for="restaurant_location">Location: </label>
  <input type="text" name="restaurant_location" id="restaurant_location">
  <label for="restaurant_description">Description: </label>
  <input type="text" name="restaurant_description" id="restaurant_description">
  <select name="cuisine_id">
    @foreach (var cuisine in Model)
    {
      <option value ="@cuisine.GetId()">@cuisine.GetCuisineName()</option>
    }
  </select>

  <button type="submit">Update this Restaurant</button>
</form>
