<h1>@Model["restaurant"].GetRestaurantName()</h1>
<h1>@Model["restaurant"].GetLocation()</h1>
<h1>@Model["restaurant"].GetDescription()</h1>
<h1>@Model["cuisine"].GetCuisineName()</h1>

<hr>
<p><a href="/restaurant/update/@Model["restaurant"].GetId()">Edit this restaurant's info.</a></p>
<p><a href="/restaurant/delete/@Model["restaurant"].GetId()">Delete this restaurant</a></p>

<a href="/">Back to home page</a>
